@page
@using Volo.Abp.UI.Navigation.Localization.Resource;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Abp.AspNetCore.Mvc.UI.Theme.AdminLTE.Localization
@using Volo.Abp.Identity
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Identity.Web.Navigation
@using Volo.Abp.Identity.Web.Pages.Identity.Users
@model BK2T.BankDataReporting.Web.Pages.Identity.Users.IndexModel
@using BK2T.BankDataReporting.Localization
@inject IHtmlLocalizer<IdentityResource> L
@inject IHtmlLocalizer<BankDataReportingResource> DL
@inject IHtmlLocalizer<AdminLTEResource> TL
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Users"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:IdentityManagement"].Value);
    PageLayout.Content.MenuItemName = IdentityMenuNames.Users;
}
@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style src="/Pages/AbpPermissionManagement/permission-management-modal.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/AbpPermissionManagement/permission-management-modal.js" />
        <abp-script src="/Pages/Identity/Users/index.js" />
    </abp-script-bundle>
}

<section class="px-3">
    <abp-row class="py-3">
        <abp-column size-md="_6">
            <h3>@L["Users"]</h3>
        </abp-column>
        <abp-column size-md="_6" class="text-right">
            <abp-button id="NewUserButton"
                        text="@DL["Users:Create"].Value"
                        icon="plus"
                        button-type="Primary" />
        </abp-column>
    </abp-row>

    <abp-card>
        <abp-card-body>
            <abp-table striped-rows="true" id="TableUserManagement" />
        </abp-card-body>
    </abp-card>
</section>




